.kaufman__triangle {
  animation: rotation 20s infinite linear;
  display: block;
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../../../../images/triangle.svg);
  background-position: center;
  background-size: cover;
  z-index: 1;
}
