@import url("./__section-title/technics__section-title.css");
.techniques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
