.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}
.logo {
  display: block;
  background-repeat: no-repeat;
  width: 183px;
  height: 32px;
  background-position: center center;
  background-size: contain;
}
.logo_place_header {
  background-image: url(/images/logo.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  position: absolute;
  display: flex;
  width: 730px;
  left: 64px;
  justify-content: start;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin: 0;
}
.header-title {
}
.header__subtitle {
  display: block;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}
.header-subtitle {
}
.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(/images/two_again.png);
  background-size: cover;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  background-size: cover;
  z-index: 0;
}
.content {
  width: 100%;
}
.description {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-height: 332px;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  margin: 0;
}
.two-columns__main-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}
.two-columns__paragraph {
  margin: 0;
}
.two-columns__span-accent {
  font-weight: bold;
}
.digits {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  margin: 0;
}
.digits__section-title {
  margin-bottom: 20px;
}
.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
}
.section-subtitle__text {
}
.table {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}
.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}
.feinman {
  height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(/images/feinman.png);
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  position: relative;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.feinman__title {
  width: 648px;
  margin-bottom: 70px;
}
.feinman__title-text {
  margin: 0;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}
.feinman__subtitle-text {
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}
.feinman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}
.feinman__link-text {
  color: #000000;
  text-decoration: none;
}
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.kaufman__triangle {
  display: block;
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(/images/triangle.svg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.section-title_theme_dark {
  color: white;
  margin: 90px 0 20px 0;
}
.section-subtitle_theme_dark {
  color: white;
}
.table_theme_dark {
  margin-bottom: 90px;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  min-height: 350px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 40px 0;
  width: 90%;
  min-height: 250px;
}
.footer__column_content_copiright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex-basis: 711px;
}
.logo_place_footer {
  background-image: url(/images/logo_white.svg);
  height: 35px;
}
.footer__author {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column_links {
  margin: 20px 0 16px 0;
  list-style: none;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
